<div class="ds-main ds-main-layout-with-sidebar">
  <div class="ds-page-grid">
    <nav class="ds-sidenav">
      <ul class="ds-sidebar" >
        {% block sidebar %}
        {% endblock %}
      </ul>
    </nav>


    <main class="ds-page-main" id="main" role="main">
      <article class="ds-page-content">
      {% block main %}
      {% endblock %}
      </article>
    </main>

  </div>
</div>
