<nav class="ds-nav">
  <div class="ds-nav-wrapper">
      <div class="ds-nav-mobile-menu">
        <button class="ds-nav-btn-menutoggle ds-btn-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 18 12" fill="none" role="presentation" 
            focusable="false" 
            aria-label="trigram for heaven symbol">
            <path class="ds-mobile-menu-bar ds-mobile-menu-bar-top" d="M0 12H18V10H0V12Z"/>
            <path class="ds-mobile-menu-bar ds-mobile-menu-bar-middle" d="M0 7H18V5H0V7Z"/>
            <path class="ds-mobile-menu-bar ds-mobile-menu-bar-bottom" d="M0 0V2H18V0H0Z"/>
          </svg>
        </button>
      </div>
    <a class="ds-nav-brand" href="/">
      Dynatrace Design System
    </a>
    <nav class="ds-nav-bar">
      <ul class="ds-nav-list">
        {% for item in categories %}
        <li class="ds-nav-item">
          <a
            class="ds-nav-link"
            href="/{{item | slug}}"
            >{{ item }}</a
          >
        </li>
        {% endfor %}
      </ul>
      <div class="ds-nav-scroll-indicator">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="8" viewBox="0 0 16 8" fill="none">
          <path d="M12.01 3H0V5H12.01V8L16 4L12.01 0V3Z"/>
        </svg>
      </div>
    </nav>
  </div>
  <div class="ds-barista-theme">
    <button
      class="ds-theme-switch ds-btn-icon"
    >
      <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.667 12.758L19.425 10l-2.758-2.758V3.333h-3.909L10 .575 7.242 3.333H3.333v3.909L.575 10l2.758 2.758v3.909h3.909L10 19.425l2.758-2.758h3.909v-3.909zM10 15V5c2.758 0 5 2.242 5 5s-2.242 5-5 5z"
        />
      </svg>
    </button>
  </div>
</nav>

